body, html {

    background-color: black;

    font-family: "Newsreader", serif;



    margin-left: 5vw;

    margin-right: 5vw;



    transition: 0.5s;

}



p, h1{

    color: white;

    text-align: center;



    transition: 0.3s;    

}



/* Styling for flexboxes to be side-by-side. */

.layout {

    display: flex;

    flex-direction: row;

}



/* Styling override for child flexboxes to be columns. */

.content {

flex-direction: column;

}



.sidebar {

    border: 2px dashed blue; /* Debugging; delete when done. */



    display: flex;

    position: absolute;

    justify-content: left;

    align-items: left;

    width: 20vw;

    height: 100vh;



    opacity: 1;

    transform: translateX(0);

    transition: opacity 0.5s, transform 0.5s;

}



.navbar {

   

    display: flex;

    flex-direction: row;

    justify-content: space-between;

}



.main-content {

    border: 2px solid cyan; /* Debugging; delete when done. */



    display: flex;

    flex-direction: column;

    justify-content: right;

    align-items: right;

    width: 80vw;

    height: 100vh;

    padding: 2vw;

   

    margin-left: 20vw;

    transition: 0.5s;

}



.nav_button {

  display: flex;

  width: 38px;

  height: 38px;

  padding: 10px;



  transition: 0.5s;

}



.nav_button:hover {

  transform: scale(1.5, 1.5);  



}



.nav_about:hover {

  transform: scale(1.2, 1.2);  

}



